<div id="intro-container">
  <div><img src="../assets/images/inboundcycle-logo.png" alt="inboundcycle-logo"></div>

  <ul>
    <li><img class="logos" src="../assets/images/logo-fb.png" alt=""></li>
    <li><img class="logos" src="../assets/images/logo-twitter.png" alt=""></li>
    <li><img class="logos" src="../assets/images/logo-linkedin.png" alt=""></li>
  </ul>
</div>

<div>
  <img id="ebook" src="../assets/images/ebook.png" alt="ebook">
</div>

<h1 class="text-center">Lorem ipsum dolor sit amet elit consectetur adipiscing eu ipsum porttitor ligula donec</h1>
<h2 class="text-center">Lorem ipsum dolor sit amet elit consectetur adipiscing eu ipsum porttitor ligula donec</h2>
<p class="text-center">Duis blandit tempor facilisis. Curabitur ipsum turpis, <a href="#" title="enlace de prueba">venenatis</a>  et massa id, congue dignissim nibh. Praesent vitae justo vel metus faucibus vehicula. Donec vitae semper eros, et viverra leo. Quisque maximus semper mi, sit amet vehicula quam ultricies eu. Nullam euismod orci sed erat blandit vulputate nec vitae arcu. Integer nec imperdiet sem. Nullam a nibh rhoncus, tincidunt arcu eu, porta erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae semper eros, et viverra leo.</p>
<div><p id="alinear-verticalmente-parrafo">Rellena el formulario para descargar la guía</p><img id="flecha-abajo" src="../assets/images/flecha-abajo.gif" alt="flecha-abajo"></div>

<h3 class="text-center">Descargar e-book gratis</h3>

<input class="block" type="text" name="name" placeholder="Nombre">
<input class="block" type="text" name="surname" placeholder="Apellido">
<input class="block" type="email" name="mail" placeholder="Email">

<br>

<div>
  <input class="politica-privacidad" type="checkbox" name="privacidad">Acepto la <a href="#">politica de privacidad</a>*
</div>
<div>
  <input class="politica-privacidad" type="checkbox" name="suscribirse">Suscríbeme al blog
</div>

<button id="boton-descarga">Descargar</button>

<footer>
  <div id="flex-padre">
    <div class="flex-hijos"><span>InboundCycle © 2015</span></div>
    <div class="flex-hijos"><a href="#">Política de Privacidad</a></div>
    <div class="flex-hijos"><a href="#">Aviso Legal</a></div>
  </div>
</footer>



